
<div class="adressListClubsMobile  ">

        <ul class="clubsList">

           <li class="club glassEffect">
               <div class="txtPart">
                   <div class="phoneCountPc">
                       <a href="{% url 'serpuhovskaya' %}" class="title">Серпуховская</a>
                       <div class="pcCount">44ПК</div>
                   </div>
                   <div class="addr">Москва, Стремянный переулок, 36</div>
                   <a href="⁠89253850837" class="phone">📞 ⁠8 (925) 385-08-37</a>
               </div>

               <div class="btnPart">
                   <a href="{% url 'serpuhovskaya' %}" class="more">Подробнее</a>
                   <a href="tel:⁠89253850837" class="call">Позвонить</a>
               </div>
           </li>

            <li class="club glassEffect">
               <div class="txtPart">
                   <div class="phoneCountPc">
                       <a href="{% url 'vdnh' %}" class="title">ВДНХ</a>
                       <div class="pcCount">61ПК</div>
                   </div>
                   <div class="addr">Москва, ул. Ярославская 21а</div>
                   <a href="89255419729" class="phone">📞 8 (925) 541-97-29</a>
               </div>

               <div class="btnPart">
                   <a href="{% url 'vdnh' %}" class="more">Подробнее</a>
                   <a href="tel:89255419729" class="call">Позвонить</a>
               </div>
           </li>


            <li class="club glassEffect">
               <div class="txtPart">
                   <div class="phoneCountPc">
                       <a href="{% url 'vernadka' %}" class="title">Вернадского</a>
                       <div class="pcCount">53ПК</div>
                   </div>
                   <div class="addr">Москва, ул. Вернадского 58</div>
                   <a href="+79260541114" class="phone">📞 +7 (926) 054-11-14</a>
               </div>

               <div class="btnPart">
                   <a href="{% url 'vernadka' %}" class="more">Подробнее</a>
                   <a href="tel:+79260541114" class="call">Позвонить</a>
               </div>
           </li>


            <li class="club glassEffect">
               <div class="txtPart">
                   <div class="phoneCountPc">
                       <a href="{% url 'mitino' %}" class="title">Митино</a>
                       <div class="pcCount">61ПК</div>
                   </div>
                   <div class="addr">Москва, ул. Митинская 40к1</div>
                   <a href="+79936660444" class="phone">📞 +7 (993) 666-04-44</a>
               </div>

               <div class="btnPart">
                   <a href="{% url 'mitino' %}" class="more">Подробнее</a>
                   <a href="tel:+79936660444" class="call">Позвонить</a>
               </div>
           </li>


            <li class="club glassEffect">
               <div class="txtPart">
                   <div class="phoneCountPc">
                       <a href="{% url 'coptevo' %}" class="title">Коптево</a>
                       <div class="pcCount">54ПК</div>
                   </div>
                   <div class="addr">Москва, ул. Михалковская 12</div>
                   <a href="+79256230967" class="phone">📞 +7 (925) 623-09-67</a>
               </div>

               <div class="btnPart">
                   <a href="{% url 'coptevo' %}" class="more">Подробнее</a>
                   <a href="tel:+79256230967" class="call">Позвонить</a>
               </div>
           </li>


            <li class="club glassEffect">
               <div class="txtPart">
                   <div class="phoneCountPc">
                       <a href="{% url 'zulebino' %}" class="title">Жулебино</a>
                       <div class="pcCount">47ПК</div>
                   </div>
                   <div class="addr">Москва, Лермонтовский проспект 2к1</div>
                   <a href="+79151256306" class="phone">📞 +7 (915) 125-63-06</a>
               </div>

               <div class="btnPart">
                   <a href="{% url 'zulebino' %}" class="more">Подробнее</a>
                   <a href="tel:+79151256306" class="call">Позвонить</a>
               </div>
           </li>


            <li class="club glassEffect">
               <div class="txtPart">
                   <div class="phoneCountPc">
                       <a href="{% url 'zukovsky' %}" class="title">Жуковский </a>
                       <div class="pcCount">40ПК</div>
                   </div>
                   <div class="addr">Москва, Жуковский, ул. Гагарина 60а</div>
                   <a href="+79154219998" class="phone">📞 +7 (915) 421-99-98</a>
               </div>

               <div class="btnPart">
                   <a href="{% url 'zukovsky' %}" class="more">Подробнее</a>
                   <a href="tel:+79154219998" class="call">Позвонить</a>
               </div>
           </li>


<!--            <li class="club glassEffect">-->
<!--               <div class="txtPart">-->
<!--                   <div class="phoneCountPc">-->
<!--                       <a href="{% url 'pushkino' %}" class="title">Пушкино </a>-->
<!--                       <div class="pcCount">20ПК</div>-->
<!--                   </div>-->
<!--                   <div class="addr">Москва, г. Пушкино ул. Просвещения 13 корп 3</div>-->
<!--                   <a href="89936660444" class="phone">📞 8 (993) 666-0-444</a>-->
<!--               </div>-->

<!--               <div class="btnPart">-->
<!--                   <a href="{% url 'pushkino' %}" class="more">Подробнее</a>-->
<!--                   <a href="tel:89936660444" class="call">Позвонить</a>-->
<!--               </div>-->
<!--           </li>-->


<!--            <li class="club glassEffect">-->
<!--               <div class="txtPart">-->
<!--                   <div class="phoneCountPc">-->
<!--                       <a href="{% url 'mahachkala' %}" class="title">Махачкала </a>-->
<!--                       <div class="pcCount">50ПК</div>-->
<!--                   </div>-->
<!--                   <div class="addr">г. Махачкала, пр. Гамзатова 64</div>-->
<!--                   <a href="89936660444" class="phone">📞 8 (993) 666-0-444</a>-->
<!--               </div>-->

<!--               <div class="btnPart">-->
<!--                   <a href="{% url 'mahachkala' %}" class="more">Подробнее</a>-->
<!--                   <a href="tel:89936660444" class="call">Позвонить</a>-->
<!--               </div>-->
<!--           </li>-->

        </ul>
    </div>


