{% load static %}
<div class="glassEffectBlocks">
    <div class="title">
        {{ titlepart }}
    </div>
    <p class="subTitle">
        {{ subtitle }}
    </p>
    <div class="socialLinks">
        <a href="https://vk.com/venomcyberzone" target="_blank" class="socialLink vk">
            <img src="{% static 'vk.png' %}" alt="VK">VK</a>
        <a href="https://instagram.com/venomcyberzone" target="_blank" class="socialLink instagram">
            <img src="{% static 'ins.png' %}" alt="Instagram">Instagram</a>
    </div>
</div>