
<div class="featuresLines">
    <div class="marquee-container glassEffectMove ">
        <p class="marquee uppercase">
            НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА НАШИ ЗОНЫ = НАШИ ПРЕИМУЩЕСТВА
        </p>
    </div>
</div>