{% load static %}

{% with request.resolver_match.url_name as current_url %}
<div class="footer glassEffectFooter">

    <ul class="pages">
            <li><a href="{% url 'home' %}" class="{% if current_url == 'home' %}active{% endif %}">
            Главная
            </a></li>
            <li><a href="{% url 'clubs' %}" class="{% if current_url == 'clubs' or current_url == 'vdnh' or current_url == 'vernadka' or current_url == 'mitino' or current_url == 'coptevo' or current_url == 'zulebino' or current_url == 'zukovsky' or current_url == 'serpuhovskaya' or current_url == 'pushkino' or current_url == 'mahachkala' %}active{% endif %}">
                Клубы
            </a></li>
            <li><a href="{% url 'promo' %}" class="{% if current_url == 'promo' %}active{% endif %}">
                Акции
            </a></li>
            <!-- <li><a href="{% url 'franchise' %}" class="{% if current_url == 'franchise' %}active{% endif %}">
                Франшиза
            </a></li> -->
            <li><a href="{% url 'contact' %}" class="{% if current_url == 'contact' %}active{% endif %}">
                Контакты
            </a></li>


    </ul>



    <ul class="clubs">
        <li><a href="{% url 'vdnh' %}" class="{% if current_url == 'vdnh' %}active{% endif %}">ВДНХ</a></li>
        <li><a href="{% url 'vernadka' %}" class="{% if current_url == 'vernadka' %}active{% endif %}">Вернадского</a></li>
        <li><a href="{% url 'serpuhovskaya' %}" class="{% if current_url == 'serpuhovskaya' %}active{% endif %}">Серпуховская</a></li>
        <li><a href="{% url 'mitino' %}" class="{% if current_url == 'mitino' %}active{% endif %}">Митино</a></li>

        <li><a href="{% url 'coptevo' %}" class="{% if current_url == 'coptevo' %}active{% endif %}">Коптево</a></li>
        <li><a href="{% url 'zulebino' %}" class="{% if current_url == 'zulebino' %}active{% endif %}">Жулебино</a></li>
        <li><a href="{% url 'zukovsky' %}" class="{% if current_url == 'zukovsky' %}active{% endif %}">Жуковский</a></li>

<!--        <li><a href="{% url 'pushkino' %}" class="{% if current_url == 'pushkino' %}active{% endif %}">Пушкино </a></li>-->
       <li><a href="{% url 'mahachkala' %}" class="{% if current_url == 'mahachkala' %}active{% endif %}">Махачкала</a></li>
    </ul>

    <ul class="socials">
        <li><a href="https://vk.com/venomcyberzone" target="_blank">Вконтакте</a></li>
        <li><a href="https://www.youtube.com/@venomcyberzone2243" target="_blank">Youtube</a></li>
        <li><a href="tel:89936660444">8 (993) 666-0-444</a></li>
<li><a href="{% url 'politics' %}" class="{% if current_url == 'politics' %}active{% endif %} politicsStyle">
            Политика конфиденциальности
        </a></li>
    </ul>





</div>

{% endwith %}