
{% load static %}
<ul class="ourFeatures">

        <li class="item glassEffectFeaturesDark">
            <div class="animationBlock">
<!--                <lottie-player src="static/venom/img/json_icons/1_ICONCPU.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>-->
                <lottie-player src="{% static 'venom/img/json_icons/1_ICONCPU.json' %}" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <div class="title">Мощное железо</div>
            <div class="subTitle">RTX 4070TI</div>
            <div class="subTitle">Процессоры intel/AMD/DDR5</div>
        </li>

        <li class="item glassEffectFeaturesDark">
            <div class="animationBlock">
<!--                <lottie-player src="static/venom/img/json_icons/2_IconDESK.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>-->
                <lottie-player src="{% static 'venom/img/json_icons/2_IconDESK.json' %}" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <div class="title">Разные мониторы</div>
            <div class="subTitle">24`, 27`, 32`, 34`, 49` 240-380 Ghz</div>
            <div class="subTitle">все мониторы на 3d регулируемой ножке</div>
        </li>

        <li class="item glassEffectFeaturesDark">
            <div class="animationBlock">
<!--                <lottie-player src="static/venom/img/json_icons/3_IconLOAD.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>-->
                <lottie-player src="{% static 'venom/img/json_icons/3_IconLOAD.json' %}" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <div class="title">Всегда обновленные игры</div>
            <div class="subTitle">300+ Клубных аккаунтов</div>
            <div class="subTitle">150+ Игр</div>
        </li>

        <li class="item glassEffectFeaturesDark">
            <div class="animationBlock">
<!--                <lottie-player src="static/venom/img/json_icons/4_ICONDARK.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>-->
                <lottie-player src="{% static 'venom/img/json_icons/4_ICONDARK.json' %}" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <div class="title">Топовая техника</div>
            <div class="subTitle">Dark Project</div>
            <div class="subTitle">& ZOWIE & HYPERX</div>
        </li>



        <li class="item glassEffectFeaturesDark">
            <div class="animationBlock">
<!--                <lottie-player src="static/venom/img/json_icons/5_IconWEB.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>-->
                <lottie-player src="{% static 'venom/img/json_icons/5_IconWEB.json' %}" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <div class="title">Быстрый интернет</div>
            <div class="subTitle">2 Гигабитных канала</div>
            <div class="subTitle">с низким пингом</div>
        </li>

        <li class="item glassEffectFeaturesDark">
            <div class="animationBlock">
<!--                <lottie-player src="static/venom/img/json_icons/6_IconCOND.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>-->
                <lottie-player src="{% static 'venom/img/json_icons/6_IconCOND.json' %}" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <div class="title">У нас всегда свежо</div>
            <div class="subTitle">В клубе мощная система вентиляции,</div>
            <div class="subTitle">кондиционирования, и ароматизация воздуха</div>
        </li>

        <li class="item glassEffectFeaturesDark">
            <div class="animationBlock">
<!--                <lottie-player src="static/venom/img/json_icons/7_IconGAME.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>-->
                <lottie-player src="{% static 'venom/img/json_icons/7_IconGAME.json' %}" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <div class="title">Бесплатные аккаунты</div>
            <div class="subTitle">Бесплатные клубные аккаунты</div>
            <div class="subTitle">с огромным выбором актуальных игр</div>
        </li>

        <li class="item glassEffectFeaturesDark">
            <div class="animationBlock">
<!--                <lottie-player src="static/venom/img/json_icons/8_ICONDUO.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>-->
                <lottie-player src="{% static 'venom/img/json_icons/8_ICONDUO.json' %}" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <div class="title">Персонал</div>
            <div class="subTitle">Вежливая администрация</div>
            <div class="subTitle">клуба</div>
        </li>

    </ul>



<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.3/lottie.min.js"></script>-->

<!--<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>-->


<script src="{% static 'venom/js/tgs-player.js' %}"></script>
<!--<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/tgs-player.js"></script>-->


<!--<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>-->



<!--<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>-->




