{% extends 'venom/layout.html' %}


{% block titleseo %}{{ seo.title }}{% endblock %}

{% block descriptionseo %}{{ seo.description }}{% endblock %}

{% block keywordsseo %}{{ seo.keywords }}{% endblock %}






{% load static %}


{% block content %}


<div class="clubPage">

    <div class="topBaner">

        <div class="overlay"></div>

        <video class="videoPartClub" loop="loop" autoplay="autoplay" muted="muted" playsinline="playsinline">
          <source src="{% static 'venom/video/zukovsky_m.mp4' %}" type="video/mp4">
        </video>


        <div class="txtPart">

            <div class="firstLine">
                <div class="smallTitle">VENOM CYBER ZONE</div>
                <h1 class="title">Кибер зона Жуковский</h1>
            </div>



            <div class="secondLine">
                <div class="addr"><span>Жуковский, ул. Гагарина 60а. тц Самолет</span>  Работает круглосуточно</div>

                <ul class="features">
                    <li class="">40ПК</li>
                    <li class="">3Вида ПК</li>
                    <li class="">2TV</li>
                </ul>


                <ul class="phoneAndToMap">
                    <li class="wrapPhone">
                        <a href="tel:+79154219998" class="lineAnimation phone">
                          <span class="flare"></span>
                          +7 (915) 421-99-98
                        </a>
                    </li>
                    <li>
                        <a href="https://yandex.ru/maps/-/CDFx6V7a" target="_blank" class="toMapBt">
                        Найти клуб на карте
                        </a>
                    </li>
               </ul>

            </div>

        </div>


    </div>

</div>



{% include 'venom/components/featuresLines.html' %}





<div class="clubPage glassEffect">

    <div class="newsBlockSlider">

        <div class="titleNewsRazdel">Новости клуба Жуковский</div>

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="20"
                slides-per-view="4" navigation="true" loop="true" grab-cursor="true"
              >

          {% for item_news in news_new_variant %}
            <swiper-slide>

                <a href="{% url 'zukovskydetailnewsnew' slug=item_news.slug %}" class="pic"><img src="{{ item_news.photo.url }}" alt=""></a>
                <div class="txtPart">
                <a href="{% url 'zukovskydetailnewsnew' slug=item_news.slug %}" class="titleNews">{{ item_news.title }}</a>
                <div class="descr">{{ item_news.short|safe }}</div>
                <a href="{% url 'zukovskydetailnewsnew' slug=item_news.slug %}" class="moreBt">Больше</a>
                </div>

            </swiper-slide>
          {% endfor %}

      </swiper-container>


             <div class="margingRazdel"></div>

              <div class="titleNewsRazdel">Акции клуба Жуковский</div>

              <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="20"
                slides-per-view="4" navigation="true" loop="true" grab-cursor="true"
              >

                  {% for item_promo in promoZukovsky %}
                    <swiper-slide class="promo ">

                        <a href="{% url 'zukovskydetailpromo' slug=item_promo.slug %}" class="pic"><img src="{{ item_promo.photo.url }}" alt=""></a>
                       <div class="txtPart">
                        <a href="{% url 'zukovskydetailpromo' slug=item_promo.slug %}" class="titlePromo">{{ item_promo.title }}</a>
                        <div class="descr">{{ item_promo.short|safe }}</div>
                        <a href="{% url 'zukovskydetailpromo' slug=item_promo.slug %}" class="moreBt">Больше</a>
                       </div>

                    </swiper-slide>
                  {% endfor %}



              </swiper-container>

      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>


    </div>
</div>



<!--<div class="clubPage glassEffect">-->

<!--    <div class="newsBlockSlider">-->

<!--        <div class="titleNewsRazdel">Новости клуба Жуковский</div>-->

<!--      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="20"-->
<!--                slides-per-view="4" navigation="true" loop="true" grab-cursor="true"-->
<!--              >-->

<!--          {% for item_news in newsZukovsky %}-->
<!--            <swiper-slide>-->

<!--                <a href="{% url 'zukovskydetailnews' slug=item_news.slug %}" class="pic"><img src="{{ item_news.photo.url }}" alt=""></a>-->
<!--                <a href="{% url 'zukovskydetailnews' slug=item_news.slug %}" class="titleNews">{{ item_news.title }}</a>-->
<!--                <div class="descr">{{ item_news.short|safe }}</div>-->
<!--                <a href="{% url 'zukovskydetailnews' slug=item_news.slug %}" class="moreBt">Больше</a>-->

<!--            </swiper-slide>-->
<!--          {% endfor %}-->

<!--      </swiper-container>-->


<!--             <div class="margingRazdel"></div>-->

<!--              <div class="titleNewsRazdel">Акции клуба Жуковский</div>-->

<!--              <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="20"-->
<!--                slides-per-view="4" navigation="true" loop="true" grab-cursor="true"-->
<!--              >-->

<!--                  {% for item_promo in promoZukovsky %}-->
<!--                    <swiper-slide class="promo">-->

<!--                        <a href="{% url 'zukovskydetailpromo' slug=item_promo.slug %}" class="pic"><img src="{{ item_promo.photo.url }}" alt=""></a>-->
<!--                        <a href="{% url 'zukovskydetailpromo' slug=item_promo.slug %}" class="titlePromo">{{ item_promo.title }}</a>-->
<!--                        <div class="descr">{{ item_promo.short|safe }}</div>-->
<!--                        <a href="{% url 'zukovskydetailpromo' slug=item_promo.slug %}" class="moreBt">Больше</a>-->

<!--                    </swiper-slide>-->
<!--                  {% endfor %}-->



<!--              </swiper-container>-->

<!--      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>-->


<!--    </div>-->
<!--</div>-->







<!--squareGallery-->
<div class="glassEffect squareGallery">


        <div class="titleGallery">Фотогаллерея Жуковский</div>


        <div class="wrapListGalery">

            <div class="oneLine">

                <a href="{% static 'venom/img/zukovsky/01.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="onePic" src="{% static 'venom/img/zukovsky/01.jpg' %}" />
                </a>

                <a href="{% static 'venom/img/zukovsky/02.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img src="{% static 'venom/img/zukovsky/02.jpg' %}" />
                </a>

               <a href="{% static 'venom/img/zukovsky/03.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="twoPic" src="{% static 'venom/img/zukovsky/03.jpg' %}" />
                </a>

                <a href="{% static 'venom/img/zukovsky/04.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img src="{% static 'venom/img/zukovsky/04.jpg' %}" />
                </a>

            </div>

            <div class="twoLine">

                <a href="{% static 'venom/img/zukovsky/08.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="fivePic" src="{% static 'venom/img/zukovsky/08.jpg' %}" />
                </a>

                <a href="{% static 'venom/img/zukovsky/06.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="sixPic" src="{% static 'venom/img/zukovsky/06.jpg' %}" />
                </a>

                 <a href="{% static 'venom/img/zukovsky/07.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="sevenPic" src="{% static 'venom/img/zukovsky/07.jpg' %}" />
                </a>


                <a href="{% static 'venom/img/zukovsky/05.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="eightPic" src="{% static 'venom/img/zukovsky/05.jpg' %}" />
                </a>

            </div>

        </div>

</div>
<!--squareGallery END -->











<!--clubsZones-->
<div class="clubPage ">

    <ul class="clubsZones">

        {% for zone in zonesZukovsky %}
        <li class="glassZones">
            <div class="zoneSmall">комната</div>
            <div class="wrapZoneName">
                <div class="zoneName">{{ zone.title }}</div>
            </div>
            <img src="{{ zone.photo.url }}" alt="{{ zone.title }}">

            <div class="btnWrap">
                <a href="tel:+7 (915) 421-99-98" class="call">+7 (915) 421-99-98</a>
                <a href="https://yandex.ru/maps/-/CDFx6V7a" target="_blank" class="toMap">На карте</a>
            </div>


            <ul class="params">

                {% if zone.monitor_tile %}
                    <li>
                        <div class="pTitle">{{ zone.monitor_tile }}</div>
                        <div class="pDescr">{{ zone.monitor }}</div>
                    </li>
                {% endif %}
                {% if zone.processor_tile %}
                    <li>
                        <div class="pTitle">{{ zone.processor_tile }}</div>
                        <div class="pDescr">{{ zone.processor }}</div>
                    </li>
                {% endif %}
                {% if zone.videocard_tile %}
                    <li>
                        <div class="pTitle">{{ zone.videocard_tile }}</div>
                        <div class="pDescr">{{ zone.videocard }}</div>
                    </li>
                {% endif %}
                {% if zone.ozu_tile %}
                    <li>
                        <div class="pTitle">{{ zone.ozu_tile }}</div>
                        <div class="pDescr">{{ zone.ozu }}</div>
                    </li>
                {% endif %}
                {% if zone.headset_tile %}
                    <li>
                        <div class="pTitle">{{ zone.headset_tile }}</div>
                        <div class="pDescr">{{ zone.headset }}</div>
                    </li>
                {% endif %}
                {% if zone.keyboard_tile %}
                    <li>
                        <div class="pTitle">{{ zone.keyboard_tile }}</div>
                        <div class="pDescr">{{ zone.keyboard }}</div>
                    </li>
                {% endif %}
                {% if zone.mouse_tile %}
                    <li>
                        <div class="pTitle">{{ zone.mouse_tile }}</div>
                        <div class="pDescr">{{ zone.mouse }}</div>
                    </li>
                {% endif %}

            </ul>

            <ul class="pricePnCht glassEffectFeaturesDark">
                <p class="titleTime">ПН-ЧТ (price)</p>

                <div class="wrapTime">
                    {% if zone.timeone %}
                        <li class="">{{ zone.timeone }} <span>{{ zone.priceone }}</span></li>
                    {% endif %}
                    {% if zone.timetwo %}
                        <li class="">{{ zone.timetwo }} <span>{{ zone.prictwo }}</span></li>
                    {% endif %}
                    {% if zone.timetri %}
                        <li class="">{{ zone.timetri }} <span>{{ zone.pricetri }}</span></li>
                    {% endif %}
                    {% if zone.timefour %}
                        <li class="">{{ zone.timefour }} <span>{{ zone.pricefour }}</span></li>
                    {% endif %}
                    {% if zone.timefive %}
                        <li class="">{{ zone.timefive }} <span>{{ zone.pricefive }}</span></li>
                    {% endif %}
                    {% if zone.timesix %}
                        <li class="">{{ zone.timesix }} <span>{{ zone.pricesix }}</span></li>
                    {% endif %}
                </div>

            </ul>


            <ul class="pricePtVs glassEffectFeaturesDark">
                <p class="titleTime">ПТ-ВС (price)</p>
                <p class="smallTitle">(В том числе выходные и праздничные дни)</p>
                <div class="wrapTime">
                    {% if zone.weekend_timeone %}
                        <li class="">{{ zone.weekend_timeone }} <span>{{ zone.weekend_priceone }}</span></li>
                    {% endif %}
                    {% if zone.weekend_timetwo %}
                        <li class="">{{ zone.weekend_timetwo }} <span>{{ zone.weekend_prictwo }}</span></li>
                    {% endif %}
                    {% if zone.weekend_timetri %}
                        <li class="">{{ zone.weekend_timetri }} <span>{{ zone.weekend_pricetri }}</span></li>
                    {% endif %}
                    {% if zone.weekend_timefour %}
                        <li class="">{{ zone.weekend_timefour }} <span>{{ zone.weekend_pricefour }}</span></li>
                    {% endif %}
                    {% if zone.weekend_timefive %}
                        <li class="">{{ zone.weekend_timefive }} <span>{{ zone.weekend_pricefive }}</span></li>
                    {% endif %}
                    {% if zone.weekend_timesix %}
                        <li class="">{{ zone.weekend_timesix }} <span>{{ zone.weekend_pricesix }}</span></li>
                    {% endif %}
                </div>
            </ul>






        </li>
        {% endfor %}

    </ul>


</div>









<div class="wrapListGames glassEffect">
    <div class="insideListGames">

        <div class="leftPart">
            <div class="title">Игры | <span>для ПК</span></div>
            <a href="#" class="gamesBt showModalClubGamesBt">Все игры</a>
        </div>

        <div class="rightPart">
            <div class="title">Игры | <span>для TV</span></div>
            <a href="#" class="gamesBt showModalTVGamesBt">Все игры</a>
        </div>

    </div>
</div>



<div class="modalGamesWrap ClubGamesModal">
    <div class="insideModalGames">
        <div class="lineCloseBt">
            <a href="#" class="closeModalGames">Закрыть</a>
        </div>
        <div class="titleModal">Все игры для ПК (Жуковский)</div>
         <ul>
             <li>Age of empires remastered</li>
              <li>Amoung US</li>
              <li>APEX</li>
              <li>Arma 3</li>
              <li>Battlefild V</li>
              <li>BeamNG.drive</li>
              <li>CoD: Black Ops 4</li>
              <li>CoD: Modern Warfare 1,2</li>
              <li>CoD: Warzone 1,2</li>
              <li>Crossout</li>
              <li>CS GO: 1.6 SOURCE</li>
              <li>Cyberpunk 2077</li>
              <li>DOTA 2</li>
              <li>Fall Guys</li>
              <li>Garry`s Mod</li>
              <li>GrandTheftAuto5</li>
              <li>IC CUP</li>
              <li>Just cause 4</li>
              <li>Left 4 Dead 1,2</li>
              <li>Mordhau</li>
              <li>Phasmophobia</li>
              <li>Portal 1,2</li>
              <li>PUBG</li>
              <li>Quake 3 Arena</li>
              <li>Quake Champions</li>
              <li>Red Dead Redemption 2</li>
              <li>Ricochet</li>
              <li>Rocket League</li>
              <li>Rust</li>
              <li>Street Legal Racing</li>
              <li>Team Fortress 2</li>
              <li>Tropico 6</li>
              <li>Warcraft 3 remastered</li>
              <li>WARFACE</li>
              <li>WORLD OF TANKS</li>
         </ul>

    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
  const showModalBtn = document.querySelector(".showModalClubGamesBt");
  const modal = document.querySelector(".ClubGamesModal");
  const closeModalBtn = modal.querySelector(".closeModalGames");

  function closeModal(e) {
    e.preventDefault();
    modal.style.display = "none";
  }

  showModalBtn.addEventListener("click", function(e) {
    e.preventDefault();
    modal.style.display = "flex";
  });

  closeModalBtn.addEventListener("click", closeModal);

  modal.addEventListener("click", function(event) {
    if (event.target === modal) {
      closeModal(event);
    }
  });

  document.addEventListener("keydown", function(event) {
    if (event.key === "Escape") {
      closeModal(event);
    }
  });
});
</script>





<div class="modalGamesWrap ClubTVsModal">
    <div class="insideModalGames">
        <div class="lineCloseBt">
            <a href="#" class="closeModalTV">Закрыть</a>
        </div>
        <div class="titleModal">Все игры для TV (Жуковский)</div>
         <ul>
             <li>Assassin's Creed Valhalla</li>
              <li>Bloodborne</li>
              <li>Call of Duty Black ops 4</li>
              <li>CoD MW</li>
              <li>Crash Baandicoot</li>
              <li>Fast and Furious</li>
              <li>FIFA 2018</li>
              <li>FIFA 2020</li>
              <li>FIFA 2021</li>
              <li>FIFA 2022</li>
              <li>FIFA 2023</li>
              <li>God Of War</li>
              <li>GTA V</li>
              <li>Hitman</li>
              <li>Injustice 2</li>
              <li>Just Cause4</li>
              <li>Little Big Planet 3</li>
              <li>Minecraft</li>
              <li>Mortal combat 11</li>
              <li>MortalCombat 11, XL</li>
              <li>NBA 2K20</li>
              <li>NHL20</li>
              <li>PES20</li>
              <li>Red Dead Redemption 2</li>
              <li>Spider man miles morales</li>
              <li>Spider-man</li>
              <li>Spyro</li>
              <li>Tekken7</li>
              <li>UFC 3</li>
              <li>UFC 4</li>
              <li>W2K20</li>
              <li>Watch Dogs Lehion</li>
         </ul>

    </div>
</div>



<script>
document.addEventListener("DOMContentLoaded", function() {
  const showModalTVBtn = document.querySelector(".showModalTVGamesBt");
  const modalTV = document.querySelector(".ClubTVsModal");
  const closeModalTVBtn = modalTV.querySelector(".closeModalTV");

  function closeModalTV(event) {
    event.preventDefault();
    modalTV.style.display = "none";
  }

  showModalTVBtn.addEventListener("click", function(event) {
    event.preventDefault();
    modalTV.style.display = "flex";
  });

  closeModalTVBtn.addEventListener("click", closeModalTV);

  modalTV.addEventListener("click", function(event) {
    if (event.target === modalTV) {
      closeModalTV(event);
    }
  });

  document.addEventListener("keydown", function(event) {
    if (event.key === "Escape") {
      closeModalTV(event);
    }
  });
});
</script>







<div class="glassEffect broniruyPc">
    <div class="subTitle"> VENOM CYBER ZONE</div>
    <div class="makeBronTxt">Бронируй мощный игровой ПК удобным способом,
        <a href="tel:+7 (915) 421-99-98">по телефону</a> или через приложение</div>

        <div class="wrapLinkApp">

            <a href="https://play.google.com/store/apps/details?id=com.f5computers.langame_aggregator" target="_blank" class="linkAppBlock">
                <div class="logoPart">
                    <img src="{% static 'venom/img/google_play_logo.svg' %}" alt="" class="kartinkaGoogle">
                </div>
                <div class="txtPart">
                    <div class="txtTitle">GET IT ON for Android</div>
                    <div class="txtSubtitle">Google Play</div>
                </div>
            </a>

            <a href="https://apps.apple.com/ru/app/langame/id1642484175" target="_blank" class="linkAppBlock">
                <div class="logoPart">
                     <img src="{% static 'venom/img/apple_logo.svg' %}" alt="" class="kartinkaApple">
                </div>
                <div class="txtPart">
                    <div class="txtTitle">Download on the iPhone</div>
                    <div class="txtSubtitle">App Store</div>
                </div>
            </a>

        </div>
</div>







<!--animationRoute-->
<div class="animationRoute glassEffect">
    <div class="title">Как найти клуб Жуковский</div>
    <lottie-player src="{% static 'venom/img/lottie/mapzukovsky.json' %}" background="transparent" speed="1" loop autoplay></lottie-player>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</div>











{% include 'venom/components/bottomAbout.html' with titlepart="Киберспортивный клуб Жуковский" txt="Погрузитесь в захватывающий мир киберспорта в Жуковском с клубом Веном. Наш клуб предоставляет высококлассные профессиональные тренировки, уникальную возможность участвовать в увлекательных турнирах и соревнованиях, а также наслаждаться общением с единомышленниками и геймерами в нашей киберспортивной среде. Независимо от вашего уровня подготовки, мы предлагаем идеальную платформу для развития в киберспорте. Присоединяйтесь к нам сегодня и окунитесь в захватывающий мир киберспорта в Жуковском!" %}


<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>


<script>
    Fancybox.bind("[data-fancybox]", {
  // Your custom options
});

</script>


{% endblock %}