{% extends 'venom/layout.html' %}

{% block title %} Серпуховская Акции — Детальная {% endblock %}
{% load static %}





{% block content %}

<div class="detailNewsAndPrmoInClubFix glassEffectFeaturesDark">
    <img src="{{ serpuhovskayapromo.photo.url }}" alt="{{ serpuhovskayapromo.title }}" class="topPic">

    <div class="txtPart">
        <a href="{% url 'serpuhovskaya' %}" class="rubric">Акции Серпуховская</a>
        <div class="date">{{ serpuhovskayapromo.time_create|date:"d F Y" }}</div>
        <h1>{{ serpuhovskayapromo.title }}</h1>
        <p>{{ serpuhovskayapromo.descr|safe }}</p>

        <a href="{% url 'serpuhovskaya' %}" class="goBack">Назад</a>
    </div>

</div>



<!--<div class="detailNewsAndPrmoInClub">-->
<!--    <img src="{{ serpuhovskayapromo.photo.url }}" alt="{{ serpuhovskayapromo.title }}" class="topPic">-->

<!--    <div class="txtPart">-->
<!--        <a href="{% url 'serpuhovskaya' %}" class="rubric">Акции Серпуховская</a>-->
<!--        <div class="date">{{ serpuhovskayapromo.time_create|date:"d F Y" }}</div>-->
<!--        <h1>{{ serpuhovskayapromo.title }}</h1>-->
<!--        <p>{{ serpuhovskayapromo.descr|safe }}</p>-->

<!--        <a href="{% url 'serpuhovskaya' %}" class="goBack">Назад</a>-->
<!--    </div>-->

<!--</div>-->

{% endblock %}