{% extends 'venom/layout.html' %}

{% block title %} News — Детальная {% endblock %}
{% load static %}


{% block content %}






<div class="promoPageDetailFix glassEffectFeaturesDark">
    <img src="{{ news.photo.url }}" alt="" class="topPic">


    <div class="txtPart">
        <a href="{% url 'promo' %}" class="rubric">Новости</a>
        <div class="date">{{ news.time_create|date:"d F Y" }}</div>
        <h1>{{ news.title }}</h1>
        <p>{{ news.descr|safe }}</p>

        <a href="{% url 'promo' %}" class="goBack">Назад</a>
    </div>

</div>





<!--<div class="promoPageDetail">-->
<!--    <img src="{{ news.photo.url }}" alt="" class="topPic">-->


<!--    <div class="txtPart">-->
<!--        <a href="{% url 'promo' %}" class="rubric">Новости</a>-->
<!--        <div class="date">{{ news.time_create|date:"d F Y" }}</div>-->
<!--        <h1>{{ news.title }}</h1>-->
<!--        <p>{{ news.descr|safe }}</p>-->

<!--        <a href="{% url 'promo' %}" class="goBack">Назад</a>-->
<!--    </div>-->

<!--</div>-->


{% endblock %}


