{% extends 'venom/layout.html' %}

{% block title %} ВДНХ акции — Детальная {% endblock %}
{% load static %}





{% block content %}

<div class="detailNewsAndPrmoInClubFix glassEffectFeaturesDark">
    <img src="{{ promo.photo.url }}" alt="{{ promo.title }}" class="topPic">

    <div class="txtPart">
        <a href="{% url 'club_page' club.slug %}" class="rubric">Акции ВДНХ</a>
        <div class="date">{{ promo.time_create|date:"d F Y" }}</div>
        <h1>{{ promo.title }}</h1>
        <p>{{ promo.descr|linebreaks|safe }}</p>

        <a href="{% url 'club_page' club.slug %}" class="goBack">Назад</a>
    </div>

</div>





{% endblock %}