{% extends 'venom/layout.html' %}

{% block title %} Вернадского новости — Детальная {% endblock %}
{% load static %}





{% block content %}

<div class="detailNewsAndPrmoInClubFix glassEffectFeaturesDark">
    <img src="{{ vernadkanews.photo.url }}" alt="{{ vernadkanews.title }}" class="topPic">

    <div class="txtPart">
        <a href="{% url 'vernadka' %}" class="rubric">Новости Вернадка</a>
        <div class="date">{{ vernadkanews.time_create|date:"d F Y" }}</div>
        <h1>{{ vernadkanews.title }}</h1>
        <p>{{ vernadkanews.descr|safe }}</p>

        <a href="{% url 'vernadka' %}" class="goBack">Назад</a>
    </div>

</div>



<!--<div class="detailNewsAndPrmoInClub">-->
<!--    <img src="{{ vernadkanews.photo.url }}" alt="{{ vernadkanews.title }}" class="topPic">-->

<!--    <div class="txtPart">-->
<!--        <a href="{% url 'vernadka' %}" class="rubric">Новости Вернадка</a>-->
<!--        <div class="date">{{ vernadkanews.time_create|date:"d F Y" }}</div>-->
<!--        <h1>{{ vernadkanews.title }}</h1>-->
<!--        <p>{{ vernadkanews.descr|safe }}</p>-->

<!--        <a href="{% url 'vernadka' %}" class="goBack">Назад</a>-->
<!--    </div>-->

<!--</div>-->

{% endblock %}