{% extends 'venom/mobile/mobileLayout.html' %}

{% block titleseo %}
    {{ seo.title }}
{% endblock %}

{% block descriptionseo %}
    {{ seo.description }}
{% endblock %}

{% block keywordsseo %}
    {{ seo.keywords }}
{% endblock %}




{% load static %}





{% block content %}

<div class="franchisePageMobile">

    {% include 'venom/components/glassEffectBlocks.html' with titlepart="Франшиза Веном" subtitle="Перспективная франшиза - доходный бизнес, выгодные инвестиции" %}




    <div class="glassEffect insideFranchize">
        <p>От <span class="rose">8 000 000 ₽</span> за <span class="green">40 рабочих мест</span> под ключ! Окупаемость до 2-х лет.</p>
        <p>Ежемесячная чистая <span class="blue">прибыль 5-15%</span>, <span class="lightOrange">от 500 000 ₽</span> <span class="orange">до 1 500 000 ₽</span>. Cрок открытия 30-40 дней.</p>
        <p><span class="puash">Паушальный взнос</span> <span class="vznos">1 000 000 ₽</span></p>
        <p>Роялти фиксированный 50 000 ₽ (через 6 месяцев после заключения договора)</p>

        <div class="btnWrap">
            <a href="tel:+79859646174" class="phone">+7 (985) 964-61-74</a>
            <a href="mailto:venomfranchise@gmail.com" class="email">venomfranchise@gmail.com</a>
        </div>
    </div>



    <script data-b24-form="inline/10/jijeh9" data-skip-moving="true">(function(w,d,u){var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})(window,document,'https://cdn-ru.bitrix24.ru/b28569802/crm/form/loader_10.js');</script>

    <br><br>




    <div class="glassEffectFeaturesDark insideFranchize">

        <div class="presentationFranchise">
            <div class="title">Узнайте больше о франшизе посмотрев нашу презентацию</div>
            <a target="_blank" href="https://docs.google.com/presentation/d/18mqRT-y8s6Or7q6EWrfNbCMRB_AN76tN/edit#slide=id.p1">
                <img src="{% static 'venom/img/PowerPoint.svg' %}" alt="" class="pic">
                <div class="txt">
                    <div class="smallTitle">powerpoint</div>
                    <div class="titleSee">Смотреть файл</div>
                </div>
            </a>
        </div>
    </div>





    <div class="glassEffect insideFranchize">
        <h2>Выведем вас в прибыль за 2 месяца</h2>
        <p class="aboutFr"><span class="pribil">Опыт и Финансы.</span>
Мы открыли более 6 успешных арен и зарекомендовали себя не только как самый мощный и клиенто-ориентированный клуб, но и как успешная финансовая бизнес-модель.</p>
        <p><span class="pribil">Реклама и маркетинг.</span>
Составим маркетинговый план на год, настроим Вам личный кабинет с рекламными компаниями ВК, Яндес.Директ, SEO, веб-сайт. Разработаем акции и систему лояльности. Проведем турниры для увеличения потока клиентов.</p>
        <p><span class="pribil">Инструкции и обучение.</span>
Обучим сотрудников и выведем вас в прибыль за 2 месяца. Инструкции, FAQ, разговорник и методика экзаменов для сотрудников Финансовая модель учета для управляющего.</p>
        <p><span class="pribil">Преимущества работы с нами.</span>
Мы найдем для вас помещение. Сделаем дизайн проект, а также план электрики и вентиляции. Поможем с ремонтом и вентиляцией. Фиксированная плата 50 000 ₽. Подберем и настроим самые мощные ПК по самой низкой цене. ВАЖНО: мы не обязываем Вас покупать технику только у наших поставщиков, мы не зарабатываем на продаже технике Вам!</p>
        <p><span class="pribil">FINISH/START.</span>
Начинайте работу. Привлекайте клиентов. Зарабатываайте.</p>

    </div>



    <div class="glassEffect insideFranchize">
        <h2>Помощь при открытии франшизы</h2>
        <ul class="listForHelp">
            <li>Заключить договор Франчайзинга</li>
            <li>Помощь при подборе места для помещения</li>
            <li>Смета ремонтных работ</li>
            <li>Предоставление бригады для пожарной, строительной, технической поддержки</li>
            <li>Оптовые низкие цены на оборудование</li>
            <li>Настройка и предзагрузка игр на ПК</li>
            <li>Подбор оптимальной финансовой модели для клуба</li>
            <li>Рекомендации по дизайну интерьера</li>
            <li>Юридическое сопровождение</li>
            <li>Бесплатная реклама в Instagram, ВК, Яндекс, Google (3 месяца)</li>
            <li>Подбор ПК</li>
        </ul>
    </div>




    <div class="glassEffect insideFranchize">
        <h2>Проект франшизы под ключ</h2>
        <ul class="listForHelp">
            <li>Система мотивации персонала</li>
            <li>Помощь при подборе персонала, обучение и инструкции для персонала</li>
            <li>Право работать под Товарным знаком</li>
            <li>Удобный онлайн финансовый мониторинг вашего клуба с ПК, смартфона или планшета</li>
            <li>Интеграция существующей базы клиентов в систему лояльности для новых клиентов</li>
            <li>Поддержка клуба, помощь при развитии</li>
            <li>Размещение вашего клуба в картах, на сайте и в Instagram, ВК</li>
        </ul>
    </div>



    <div class="glassEffect insideFranchize">
        <h2>У нас есть большое количество поставщиков по низким ценам, ниже рыночных. Самые мощные ПК в Москве. Стоимость одного ПК в сборе с монитором, столом и креслом - 130 000 ₽</h2>
        <ul class="listForHelp">
            <li>У конкурентов цена составила бы не менее 180 000 ₽. Благодаря низким ценам наших поставщиков, возможно сокращение расходов на 30%</li>
            <li>Компьютерное оборудование (самые низкие цены)</li>
            <li>Интернет</li>
            <li>Виртуальная реальность оборудование</li>
            <li>Наклейки</li>
            <li>Кассовые аппараты, эквайринг</li>
            <li>Пожарные системы</li>
            <li>Вентиляция</li>
            <li>Оборудование для паровых коктейлей и табака + школа кальянщиков</li>
            <li>Видеонаблюдение</li>
            <li>Холодильник: напитки + сендвичи</li>
        </ul>
    </div>










    <div class="glassEffectFeaturesDark insideFranchize">

        <div class="presentationFranchise">
            <div class="title">Узнайте больше о франшизе посмотрев нашу презентацию</div>
            <a target="_blank" href="https://docs.google.com/presentation/d/18mqRT-y8s6Or7q6EWrfNbCMRB_AN76tN/edit#slide=id.p1">
                <img src="{% static 'venom/img/PowerPoint.svg' %}" alt="" class="pic">
                <div class="txt">
                    <div class="smallTitle">powerpoint</div>
                    <div class="titleSee">Смотреть файл</div>
                </div>
            </a>
        </div>
    </div>






</div>


{% endblock %}