{% extends 'venom/mobile/mobileLayout.html' %}

{% block titleseo %}{{ seo.title }}{% endblock %}

{% block descriptionseo %}{{ seo.description }}{% endblock %}

{% block keywordsseo %}{{ seo.keywords }}{% endblock %}




{% load static %}






{% block content %}




        {% if promoVdnh %}

        <ul class="listPromoMobileOnTop">

            {% for item_promo in promoVdnh %}
            <li>
                <a href="{% url 'vdnhdetailpromomobile' slug=item_promo.slug %}"><img src="{{ item_promo.photo_mobile.url }}" alt=""></a>
                <a href="{% url 'vdnhdetailpromomobile' slug=item_promo.slug %}" class="titlePromo">{{ item_promo.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}




<div class="clubPageMobile">


    <div class="topBanerMobile">

        <div class="overlay"></div>

<!--        <img src="{% static '/venom/img/vdnh/vdnh_utp.jpg' %}" alt="" class="picClub">-->

        <video class="videoPartClub" loop="loop" autoplay="autoplay" muted="muted" playsinline="playsinline">
          <source src="{% static 'venom/video/vdnh_club.mp4' %}" type="video/mp4">
        </video>




        <div class="txtPart">

            <div class="firstLine">
                <div class="smallTitle">VENOM CYBER ZONE</div>
                <h1 class="title">ВДНХ</h1>
            </div>



            <div class="secondLine">
<!--                <div class="addr"><span>ул. Ярославская 21а, ВДНХ</span>  Работает круглосуточно</div>-->
<div class="titleTotalPCs" style="text-align: left; font-size: 36px; font-weight: bold; color: #007bff; margin-bottom: 10px;">
    <span class="totalPCCount" style="background-color: #007bff; color: white; padding: 5px 10px; border-radius: 5px;">52 ПК</span>
</div>

                <div class="howMuchClubsMobile">
                    <div class="titleHowMuch">8 зон в клубе:</div>
                    <ul class="listShortZones">

                        <li>COMFORT 27` 240HZ <span>32пк</span></li>
                        <li>DUO VIP 4K 34' 165HZ <span>2пк</span></li>
                        <li>DUO VIP 4K 34' 165HZ <span>2пк</span></li>
                        <li>BOOTCAMP 24.5` 380HZ <span>5пк</span></li>
                        <li>BOOTCAMP 24.5` 380HZ <span>5пк</span></li>
                        <li>STREAM 24.5` 380HZ <span>1пк</span></li>
                        <li>SUPERVIP 4k 35` 144HZ <span>5пк</span></li>
                        <!-- <li>TV ZONE</li> -->
                        <li>VIP TV ZONE</li>
                    </ul>
                </div>


<!--                <ul class="features">-->
<!--                    <li class="">61ПК</li>-->
<!--                    <li class="">5Видов ПК</li>-->
<!--                    <li class="">4TV</li>-->
<!--                </ul>-->


                <ul class="phoneAndToMap">
                    <li class="wrapPhone">
                        <a href="tel:89255419729" class="lineAnimation phone">
                          <span class="flare"></span>
                          8 (925) 541-97-29
                        </a>
                    </li>
                    <li>
                        <a href="https://yandex.ru/maps/org/venom_cyber_zone/105697447406/?ll=37.649166%2C55.824177&z=17" target="_blank" class="toMapBt">
                        Найти клуб на карте
                        </a>
                    </li>
               </ul>

            </div>

        </div>

    </div>

</div>






<div class="clubPageMobile">
    <div class="howFindClubMobile">
        <img src="{% static 'venom/img/steps2.svg' %}" alt="">
        <div class="titleHow">Как найти клуб?</div>
        <a href="#routeToclub" class="showWayToClub">Показать</a>
    </div>
</div>






<!--news and promo block-->


    <div class="newsBlockMobile">


        {% if news_new_variant %}
        <div class="titleNewsRazdel">Новости клуба ВДНХ</div>

        <ul class="listNewsMobileOnTop">
            {% for item_news in news_new_variant %}
            <li>
                <a href="{% url 'vdnhdetailnewsmobilenew' slug=item_news.slug %}"><img src="{{ item_news.photo_mobile.url }}" alt=""></a>
                <a href="{% url 'vdnhdetailnewsmobilenew' slug=item_news.slug %}" class="titleNews">{{ item_news.title }}</a>
            </li>
            {% endfor %}

        </ul>
        {% endif %}



    </div>










<!--clubsZones newVersion with Pics -->
<div class="clubPageMobile ">


    <ul class="clubsZonesMobile">
        {% for zone in zonesVdnhNew %}
        <li class="glassZones zoneMobileEach">
            <div class="zoneSmall">комната</div>
            <div class="wrapZoneName">
                <div class="zoneName">{{ zone.title }}</div>
            </div>


            <div class="sliderLineWrap">
                <div class="zoomIn">
                    <img class="zoomInPic" src="{% static 'venom/img/zoom-in.svg' %}" alt="">
                </div>
                <div class="sliderLine">
                {% if zone.zone_pics.all %}

                    {% for pic in zone.zone_pics.all %}
                        <a href="{{ pic.photo.url }}" data-fancybox="{{ zone.slug }}" data-caption="">

                            <img class="onePic" src="{{ pic.photo.url }}" />
                        </a>
                    {% endfor %}
                    {% else %}
                    <img src="{% static 'venom/img/noimage.jpg' %}" alt="">

                {% endif %}
                </div>
            </div>



            <div class="btnWrap">
                <a href="tel:8 (925) 541-97-29" class="call">8 (925) 541-97-29</a>
                <a href="https://yandex.ru/maps/org/venom_cyber_zone/105697447406/?ll=37.649166%2C55.824177&z=17"
                    target="_blank" class="toMap">На карте</a>
            </div>


            <ul class="params">
                {% if zone.monitor_tile %}
                    <li>
                        <div class="pTitle">{{ zone.monitor_tile }}</div>
                        <div class="pDescr">{{ zone.monitor }}</div>
                    </li>
                {% endif %}
                {% if zone.processor_tile %}
                    <li>
                        <div class="pTitle">{{ zone.processor_tile }}</div>
                        <div class="pDescr">{{ zone.processor }}</div>
                    </li>
                {% endif %}
                {% if zone.videocard_tile %}
                    <li>
                        <div class="pTitle">{{ zone.videocard_tile }}</div>
                        <div class="pDescr">{{ zone.videocard }}</div>
                    </li>
                {% endif %}
                {% if zone.ozu_tile %}
                    <li>
                        <div class="pTitle">{{ zone.ozu_tile }}</div>
                        <div class="pDescr">{{ zone.ozu }}</div>
                    </li>
                {% endif %}
                {% if zone.headset_tile %}
                    <li>
                        <div class="pTitle">{{ zone.headset_tile }}</div>
                        <div class="pDescr">{{ zone.headset }}</div>
                    </li>
                {% endif %}
                {% if zone.keyboard_tile %}
                    <li>
                        <div class="pTitle">{{ zone.keyboard_tile }}</div>
                        <div class="pDescr">{{ zone.keyboard }}</div>
                    </li>
                {% endif %}
                {% if zone.mouse_tile %}
                    <li>
                        <div class="pTitle">{{ zone.mouse_tile }}</div>
                        <div class="pDescr">{{ zone.mouse }}</div>
                    </li>
                {% endif %}
            </ul>

            <ul class="pricePnCht glassEffectFeaturesDark">
                <p class="titleTime">ПН-ЧТ (price)</p>

                <div class="wrapTime">
                    {% if zone.timeone %}
                        <li class="">{{ zone.timeone }} <span>{{ zone.priceone }}</span></li>
                    {% endif %}
                    {% if zone.timetwo %}
                        <li class="">{{ zone.timetwo }} <span>{{ zone.prictwo }}</span></li>
                    {% endif %}
                    {% if zone.timetri %}
                        <li class="">{{ zone.timetri }} <span>{{ zone.pricetri }}</span></li>
                    {% endif %}
                    {% if zone.timefour %}
                        <li class="">{{ zone.timefour }} <span>{{ zone.pricefour }}</span></li>
                    {% endif %}
                    {% if zone.timefive %}
                        <li class="">{{ zone.timefive }} <span>{{ zone.pricefive }}</span></li>
                    {% endif %}
                    {% if zone.timesix %}
                        <li class="">{{ zone.timesix }} <span>{{ zone.pricesix }}</span></li>
                    {% endif %}
                </div>

            </ul>


            <ul class="pricePtVs glassEffectFeaturesDark">
                <p class="titleTime">ПТ-ВС (price)</p>
                <p class="smallTitle">(В том числе выходные и праздничные дни)</p>
                <div class="wrapTime">
                    {% if zone.weekend_timeone %}
                        <li class="">{{ zone.weekend_timeone }} <span>{{ zone.weekend_priceone }}</span></li>
                    {% endif %}
                    {% if zone.weekend_timetwo %}
                        <li class="">{{ zone.weekend_timetwo }} <span>{{ zone.weekend_prictwo }}</span></li>
                    {% endif %}
                    {% if zone.weekend_timetri %}
                        <li class="">{{ zone.weekend_timetri }} <span>{{ zone.weekend_pricetri }}</span></li>
                    {% endif %}
                    {% if zone.weekend_timefour %}
                        <li class="">{{ zone.weekend_timefour }} <span>{{ zone.weekend_pricefour }}</span></li>
                    {% endif %}
                    {% if zone.weekend_timefive %}
                        <li class="">{{ zone.weekend_timefive }} <span>{{ zone.weekend_pricefive }}</span></li>
                    {% endif %}
                    {% if zone.weekend_timesix %}
                        <li class="">{{ zone.weekend_timesix }} <span>{{ zone.weekend_pricesix }}</span></li>
                    {% endif %}
                </div>
            </ul>

        </li>
        {% endfor %}
    </ul>

</div>









<!--clubsZones-->
<!--<div class="clubPageMobile ">-->

<!--    <ul class="clubsZonesMobile">-->

<!--        {% for zone in zonesVdnh %}-->
<!--        <li class="glassZones zoneMobileEach">-->
<!--            <div class="zoneSmall">комната</div>-->
<!--            <div class="zoneName">{{ zone.title }}</div>-->
<!--            <img src="{{ zone.photo_mobile.url }}" alt="{{ zone.title }}">-->

<!--            <div class="btnWrap">-->
<!--                <a href="tel:8 (925) 541-97-29" class="call">8 (925) 541-97-29</a>-->
<!--                <a href="https://yandex.ru/maps/org/venom_cyber_zone/105697447406/?ll=37.649166%2C55.824177&z=17" target="_blank" class="toMap">На карте</a>-->
<!--            </div>-->


<!--            <ul class="params">-->
<!--                {% if zone.monitor_tile %}-->
<!--                    <li>-->
<!--                        <div class="pTitle">{{ zone.monitor_tile }}</div>-->
<!--                        <div class="pDescr">{{ zone.monitor }}</div>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--                {% if zone.processor_tile %}-->
<!--                    <li>-->
<!--                        <div class="pTitle">{{ zone.processor_tile }}</div>-->
<!--                        <div class="pDescr">{{ zone.processor }}</div>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--                {% if zone.videocard_tile %}-->
<!--                    <li>-->
<!--                        <div class="pTitle">{{ zone.videocard_tile }}</div>-->
<!--                        <div class="pDescr">{{ zone.videocard }}</div>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--                {% if zone.ozu_tile %}-->
<!--                    <li>-->
<!--                        <div class="pTitle">{{ zone.ozu_tile }}</div>-->
<!--                        <div class="pDescr">{{ zone.ozu }}</div>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--                {% if zone.headset_tile %}-->
<!--                    <li>-->
<!--                        <div class="pTitle">{{ zone.headset_tile }}</div>-->
<!--                        <div class="pDescr">{{ zone.headset }}</div>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--                {% if zone.keyboard_tile %}-->
<!--                    <li>-->
<!--                        <div class="pTitle">{{ zone.keyboard_tile }}</div>-->
<!--                        <div class="pDescr">{{ zone.keyboard }}</div>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--                {% if zone.mouse_tile %}-->
<!--                    <li>-->
<!--                        <div class="pTitle">{{ zone.mouse_tile }}</div>-->
<!--                        <div class="pDescr">{{ zone.mouse }}</div>-->
<!--                    </li>-->
<!--                {% endif %}-->

<!--            </ul>-->

<!--            <ul class="pricePnCht ">-->
<!--                <p class="titleTime">Понедельник-Четверг (цены)</p>-->

<!--                <div class="wrapTime">-->

<!--                    {% if zone.timeone %}-->
<!--                        <li class="">{{ zone.timeone }} <span>{{ zone.priceone }}</span></li>-->
<!--                    {% endif %}-->
<!--                    {% if zone.timetwo %}-->
<!--                        <li class="">{{ zone.timetwo }} <span>{{ zone.prictwo }}</span></li>-->
<!--                    {% endif %}-->
<!--                    {% if zone.timetri %}-->
<!--                        <li class="">{{ zone.timetri }} <span>{{ zone.pricetri }}</span></li>-->
<!--                    {% endif %}-->
<!--                    {% if zone.timefour %}-->
<!--                        <li class="">{{ zone.timefour }} <span>{{ zone.pricefour }}</span></li>-->
<!--                    {% endif %}-->
<!--                    {% if zone.timefive %}-->
<!--                        <li class="">{{ zone.timefive }} <span>{{ zone.pricefive }}</span></li>-->
<!--                    {% endif %}-->
<!--                    {% if zone.timesix %}-->
<!--                        <li class="">{{ zone.timesix }} <span>{{ zone.pricesix }}</span></li>-->
<!--                    {% endif %}-->

<!--                </div>-->

<!--            </ul>-->


<!--            <ul class="pricePtVs ">-->
<!--                <p class="titleTime">Пятница-Воскресенье (цены)</p>-->
<!--                <p class="smallTitle">(В том числе выходные и праздничные дни)</p>-->
<!--                <div class="wrapTime">-->

<!--                    {% if zone.weekend_timeone %}-->
<!--                        <li class="">{{ zone.weekend_timeone }} <span>{{ zone.weekend_priceone }}</span></li>-->
<!--                    {% endif %}-->
<!--                    {% if zone.weekend_timetwo %}-->
<!--                        <li class="">{{ zone.weekend_timetwo }} <span>{{ zone.weekend_prictwo }}</span></li>-->
<!--                    {% endif %}-->
<!--                    {% if zone.weekend_timetri %}-->
<!--                        <li class="">{{ zone.weekend_timetri }} <span>{{ zone.weekend_pricetri }}</span></li>-->
<!--                    {% endif %}-->
<!--                    {% if zone.weekend_timefour %}-->
<!--                        <li class="">{{ zone.weekend_timefour }} <span>{{ zone.weekend_pricefour }}</span></li>-->
<!--                    {% endif %}-->
<!--                    {% if zone.weekend_timefive %}-->
<!--                        <li class="">{{ zone.weekend_timefive }} <span>{{ zone.weekend_pricefive }}</span></li>-->
<!--                    {% endif %}-->
<!--                    {% if zone.weekend_timesix %}-->
<!--                        <li class="">{{ zone.weekend_timesix }} <span>{{ zone.weekend_pricesix }}</span></li>-->
<!--                    {% endif %}-->

<!--                </div>-->
<!--            </ul>-->







<!--        </li>-->
<!--        {% endfor %}-->

<!--    </ul>-->



<!--</div>-->







<!--pictureForClub-->
<div class="pictureForClubMobile ">
    <div class="title">Игровые зоны клуба ВДНХ</div>
    <img src="{% static 'venom/img/4_minimap_vdnh_mobile.png' %}" alt="">
</div>








<div class="wrapListGames glassEffect">
    <div class="insideListGames">

        <div class="leftPart">
            <div class="title">Игры | <span>для ПК</span></div>
            <a href="#" class="gamesBt showModalClubGamesBt">Все игры</a>
        </div>

        <div class="rightPart">
            <div class="title">Игры | <span>для TV</span></div>
            <a href="#" class="gamesBt showModalTVGamesBt">Все игры</a>
        </div>

    </div>
</div>



<div class="modalGamesWrap ClubGamesModal">
    <div class="insideModalGames">
        <div class="lineCloseBt">
            <a href="#" class="closeModalGames">Закрыть</a>
        </div>
        <div class="titleModal">Все игры для ПК (ВДНХ)</div>
         <ul>
            <li>Age of Empires II: Definitive Edition</li>
            <li>Amoung US</li>
            <li>APEX Legends</li>
            <li>Assetto Corsa Competizione</li>
            <li>Black desert</li>
            <li>Borderlands 2</li>
            <li>Borderlands 3</li>
            <li>CarX Drift Racing Online</li>
            <li>Carmageddon Max Damage</li>
            <li>Carmageddon Max Pack</li>
            <li>CnC Kane Wraith</li>
            <li>CnC Red Alert 3</li>
            <li>CnC Tiberium Wars</li>
            <li>Counter Strike 1.6</li>
            <li>Days Gone</li>
            <li>DEVIL MAY CRY 5</li>
            <li>Dirt rally 2.0</li>
            <li>DOOM 16</li>
            <li>DOOM ETERNAL</li>
            <li>Dragon Age:Inquisition</li>
            <li>Dragon Age Origins</li>
            <li>Dota 2</li>
            <li>Eurotrack 3</li>
            <li>Fall Guys</li>
            <li>Final Fantasy 15</li>
            <li>FLATOUT 2</li>
            <li>Forza Horizon 4</li>
            <li>Forza Horizon 5</li>
            <li>GTA 5</li>
            <li>Grand Theft Auto 5</li>
            <li>HITMAN3</li>
            <li>Hogwarts Legacy</li>
            <li>Injustice 2</li>
            <li>Little Big Planet 3</li>
            <li>Lost Ark</li>
            <li>MAFIA 1 REMASTERED</li>
            <li>Mafia: Definitive Edition</li>
            <li>Mass Effect andromeda</li>
            <li>MASS EFFECT</li>
            <li>METRO 2033</li>
            <li>Minecraft</li>
            <li>MK1</li>
            <li>MORDHAU</li>
            <li>Mortal combat 11</li>
            <li>NARAKA: BLADEPOINT</li>
            <li>NFS 2016</li>
            <li>NFS Unbound</li>
            <li>NHL20</li>
            <li>Phasmophobia</li>
            <li>PUBG</li>
            <li>Quake 3 Arena</li>
            <li>Quake Champions</li>
            <li>Red Dead Redemption 2</li>
            <li>Resident Evil 4</li>
            <li>Rocket League</li>
            <li>Rust</li>
            <li>Sims 4</li>
            <li>Sea of Thieves</li>
            <li>SQUAD</li>
            <li>Spider-man</li>
            <li>STALKER Call of Pripyat</li>
            <li>STALKER Clear Sky</li>
            <li>STALKER Shadow of Chernobil</li>
            <li>STAR WARS Jedi: Survivor</li>
            <li>TEKKEN 7</li>
            <li>THE FINALS</li>
            <li>UFC2</li>
            <li>UFC3</li>
            <li>UFC4</li>
            <li>UFC5</li>
            <li>Warhammer Vermintide</li>
            <li>WARFACE</li>
            <li>WARTHUNDER</li>
            <li>Watch Dogs Lehion</li>
            <li>ВЕДЬМАК 3</li>
            <li>Сounter Strike 1.6</li>

         </ul>

    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
  const showModalBtn = document.querySelector(".showModalClubGamesBt");
  const modal = document.querySelector(".ClubGamesModal");
  const closeModalBtn = modal.querySelector(".closeModalGames");

  function closeModal(e) {
    e.preventDefault();
    modal.style.display = "none";
  }

  showModalBtn.addEventListener("click", function(e) {
    e.preventDefault();
    modal.style.display = "flex";
  });

  closeModalBtn.addEventListener("click", closeModal);

  modal.addEventListener("click", function(event) {
    if (event.target === modal) {
      closeModal(event);
    }
  });

  document.addEventListener("keydown", function(event) {
    if (event.key === "Escape") {
      closeModal(event);
    }
  });
});
</script>





<div class="modalGamesWrap ClubTVsModal">
    <div class="insideModalGames">
        <div class="lineCloseBt">
            <a href="#" class="closeModalTV">Закрыть</a>
        </div>
        <div class="titleModal">Все игры для TV (ВДНХ)</div>
         <ul>
             <li>Bloodborn</li>
            <li>Call of Duty Black ops 4</li>
            <li>Crash Baandicoot</li>
            <li>Fast and Furious</li>
            <li>FIFA 2022</li>
            <li>FIFA23/ps4</li>
            <li>FIFA23/ps5</li>
            <li>FIFA2020</li>
            <li>FIFA2021</li>
            <li>FC24 PS4</li>
            <li>FC24 PS5</li>
            <li>GTA 5</li>
            <li>God Of War</li>
            <li>Injustice 2</li>
            <li>Just Cause4</li>
            <li>Little Big Planet 3</li>
            <li>Minecraft</li>
            <li>MK1</li>
            <li>Mortal combat 11</li>
            <li>NBA 2K20</li>
            <li>NHL20</li>
            <li>Pes 2020</li>
            <li>Red Dead Redemption 2</li>
            <li>Spyro</li>
            <li>Spider-man</li>
            <li>Tekken7</li>
            <li>UFC2</li>
            <li>UFC3</li>
            <li>UFC4</li>
            <li>UFC5</li>
            <li>W2K20</li>

         </ul>

    </div>
</div>



<script>
document.addEventListener("DOMContentLoaded", function() {
  const showModalTVBtn = document.querySelector(".showModalTVGamesBt");
  const modalTV = document.querySelector(".ClubTVsModal");
  const closeModalTVBtn = modalTV.querySelector(".closeModalTV");

  function closeModalTV(event) {
    event.preventDefault();
    modalTV.style.display = "none";
  }

  showModalTVBtn.addEventListener("click", function(event) {
    event.preventDefault();
    modalTV.style.display = "flex";
  });

  closeModalTVBtn.addEventListener("click", closeModalTV);

  modalTV.addEventListener("click", function(event) {
    if (event.target === modalTV) {
      closeModalTV(event);
    }
  });

  document.addEventListener("keydown", function(event) {
    if (event.key === "Escape") {
      closeModalTV(event);
    }
  });
});
</script>







<div class="glassEffect broniruyPcMobile">
    <div class="subTitle"> VENOM CYBER ZONE</div>
    <div class="makeBronTxt">Бронируй мощный игровой ПК удобным способом,
        <a href="tel:8 (925) 541-97-29">по телефону</a> или через приложение</div>

        <div class="wrapLinkApp">

            <a href="https://play.google.com/store/apps/details?id=com.f5computers.langame_aggregator" target="_blank" class="linkAppBlock">
                <div class="logoPart">
                    <img src="{% static 'venom/img/google_play_logo.svg' %}" alt="" class="kartinkaGoogle">
                </div>
                <div class="txtPart">
                    <div class="txtTitle">GET IT ON for Android</div>
                    <div class="txtSubtitle">Google Play</div>
                </div>
            </a>

            <a href="https://apps.apple.com/ru/app/langame/id1642484175" target="_blank" class="linkAppBlock">
                <div class="logoPart">
                     <img src="{% static 'venom/img/apple_logo.svg' %}" alt="" class="kartinkaApple">
                </div>
                <div class="txtPart">
                    <div class="txtTitle">Download on the iPhone</div>
                    <div class="txtSubtitle">App Store</div>
                </div>
            </a>

        </div>
</div>








<!--animationRoute-->
<div class="pictureForClubMobile glassEffect" id="routeToclub">
    <div class="title">Как найти клуб ВДНХ</div>

    <div class="txt">
        <p class="likeTitle">#Адрес:</p>
        <p>ул. Ярославская 21а</p>
        <p>Ориентир гостиница Космос</p>
        <br>
        <p class="likeTitle">#Метро:</p>
        <p>Ближайшие к нашему клубу VENOM станции метро:</p>
        <p>- ВДНХ - выход #1 самый удобный, чтобы добраться до клуба</p>
        <p>- Выставочный центр - выход #1</p>
        <p>- Улица Сергея Эйзенштейна - выход #1</p>
        <br>
        <p class="likeTitle">#Телефон:</p>
        <p><a href="tel:8 (925) 541-97-29">8 (925) 541-97-29</a></p>
        <br>

    </div>

    <lottie-player src="{% static 'venom/img/lottie/vdnhmap3.json' %}" background="transparent" speed="1" loop autoplay></lottie-player>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</div>







<!--squareGallery-->
<div class="glassEffect squareGalleryMobile">


        <div class="titleGallery">Фотогаллерея ВДНХ</div>


        <div class="wrapListGalery">
            <div class="oneLine">
                {% for i in photos|slice:":4" %} <!-- Берем первые 4 изображения -->
                <a href="{{ i.photo_mobile.url }}" data-fancybox="gallery" data-caption="">
                    <img class="onePic" src="{{ i.photo_mobile.url }}" alt="Image"/>
                </a>
                {% endfor %}
            </div>
        
            <div class="twoLine">
                {% for i in photos|slice:"4:8" %} <!-- Берем следующие 4 изображения -->
                <a href="{{ i.photo_mobile.url }}" data-fancybox="gallery" data-caption="">
                    <img class="twoPic" src="{{ i.photo_mobile.url }}" alt="Image"/>
                </a>
                {% endfor %}
            </div>
<!-- 
            <div class="oneLine">

                <a href="{% static 'venom/img/vdnh/06_new_mini.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="onePic" src="{% static 'venom/img/vdnh/06_new_mini.jpg' %}" />
                </a>

                <a href="{% static 'venom/img/vdnh/02_new_mini.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img src="{% static 'venom/img/vdnh/02_new_mini.jpg' %}" />
                </a>

               <a href="{% static 'venom/img/vdnh/03_new_mini.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="twoPic" src="{% static 'venom/img/vdnh/03_new_mini.jpg' %}" />
                </a>

                <a href="{% static 'venom/img/vdnh/04_new_mini.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img src="{% static 'venom/img/vdnh/04_new_mini.jpg' %}" />
                </a>

            </div>

            <div class="twoLine">

                <a href="{% static 'venom/img/vdnh/05_new_mini.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="fivePic" src="{% static 'venom/img/vdnh/05_new_mini.jpg' %}" />
                </a>

                <a href="{% static 'venom/img/vdnh/01_new_mini.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="sixPic" src="{% static 'venom/img/vdnh/01_new_mini.jpg' %}" />
                </a>

                 <a href="{% static 'venom/img/vdnh/07_new_mini.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="sevenPic" src="{% static 'venom/img/vdnh/07_new_mini.jpg' %}" />
                </a>


                <a href="{% static 'venom/img/vdnh/08_new_mini.jpg' %}" data-fancybox="gallery" data-caption="">
                  <img class="eightPic" src="{% static 'venom/img/vdnh/08_new_mini.jpg' %}" />
                </a>

            </div> -->

        </div>

</div>
<!--squareGallery END -->









{% if vdnhgalleryNone %}
<!--<div class="bigGalleryMobileBottom">-->


<!--        <div class="titleGallery">Фотогаллерея клуба ВДНХ</div>-->
<!--        <p>Cеть топовых кибер-арен в Москве</p>-->


<!--    <link-->
<!--      rel="stylesheet"-->
<!--      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"-->
<!--    />-->

<!--    <div class="swiper">-->


<!--          <div class="swiper-wrapper">-->
<!--              {% for bigslider in vdnhgallery %}-->
<!--                <div class="swiper-slide"><img src="{{ bigslider.photo_mobile.url }}" alt=""></div>-->
<!--              {% endfor %}-->
<!--          </div>-->


<!--        -->
<!--      <div class="swiper-pagination"></div>-->
<!--        -->
<!--      <div class="swiper-button-prev"></div>-->
<!--      <div class="swiper-button-next"></div>-->
<!--      <div class="swiper-scrollbar"></div>-->
<!--    </div>-->



<!--    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>-->

<!--    <script type="module">-->

<!--    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs'-->

<!--    const swiper = new Swiper('.swiper', {-->

<!--        // direction: 'horisontal',-->
<!--        loop: true,-->

<!--        slidesPerView: 1,-->

<!--        breakpoints: {-->
<!--            640: {-->
<!--                slidesPerView: 1,-->
<!--            },-->
<!--            1024: {-->
<!--                slidesPerView: 1,-->
<!--            },-->
<!--        },-->


<!--        effect: "cube",-->
<!--          grabCursor: true,-->
<!--          cubeEffect: {-->
<!--            shadow: true,-->
<!--            slideShadows: true,-->
<!--            shadowOffset: 20,-->
<!--            shadowScale: 0.94,-->
<!--          },-->



<!--        pagination: {-->
<!--            el: '.swiper-pagination',-->
<!--        },-->


<!--        navigation: {-->
<!--            nextEl: '.swiper-button-next',-->
<!--            prevEl: '.swiper-button-prev',-->
<!--        },-->


<!--        scrollbar: {-->
<!--            el: '.swiper-scrollbar',-->
<!--        },-->
<!--    });-->
<!--  </script>-->

<!--</div>-->
<!-- end bigGallery-->
{% endif %}




<div class="bottomAboutMobile  glassZones">
    <div class="title">Киберспортивный клуб ВДНХ</div>
    <div class="txt">Добро пожаловать в увлекательный мир киберспорта на ВДНХ с клубом Веном. Мы создали пространство, где вы можете полностью погрузиться в киберспортивную атмосферу и развить свои навыки. Клуб Веном предлагает высококачественные профессиональные тренировки, возможность участвовать в захватывающих турнирах и соревнованиях, а также общаться с единомышленниками и опытными геймерами. Наше расположение на ВДНХ создает идеальную обстановку для киберспортивных любителей. Присоединяйтесь к нам уже сегодня и откройте для себя захватывающий мир киберспорта на ВДНХ!</div>
</div>





<script>
    document.addEventListener('DOMContentLoaded', function() {
        let links = document.querySelectorAll('.showWayToClub');

        links.forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                let targetId = this.getAttribute('href').substring(1);
                let targetElement = document.getElementById(targetId);
                if (targetElement) {
                    let offset = 100; // Определение смещения в 100px
                    let targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset - offset;

                    window.scrollTo({
                        top: targetPosition,
                        behavior: 'smooth' // Плавный скролл
                    });
                }
            });
        });
    });
</script>






<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>


<script>
    Fancybox.bind("[data-fancybox]", {
  // Your custom options
});

</script>




{% endblock %}